:focus {
	box-shadow: none !important;
	outline: 0 !important;
	text-decoration: none;
}

[popover], [tooltip], a {
	cursor: pointer;
}

[popover]:hover {
	text-decoration: underline;
}

a {
	outline: 0;
	color: #2b6789;

	&:focus, &:hover, &:visited {
		outline: 0;
		color: #2b6789;
	}
}

.auto-height {
	height: auto !important;
}

.ls-1 {
	letter-spacing: -1px;
}

.ls-2 {
	letter-spacing: -2px;
}

.clear {
	clear: both;
}

.clear-left {
	clear: left !important;
}

.clear-right {
	clear: right !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
	padding-right: 4px;
}

.text-center {
	text-align: center;
}

.dis-block {
	display: block;
}

.in-block {
	display: inline-block;
	float: none !important;
}

.overflow-auto {
	overflow: auto !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.overflow-x-hidden {
	overflow-x: hidden !important;
}

.overflow-y-hidden {
	overflow-y: hidden !important;
}

.overflow-x-auto {
	overflow-x: auto !important;
}

.overflow-y-auto {
	overflow-y: auto !important;
}

.no-padding {
	padding: 0 !important;
}

.horizontal {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		float: left;
		display: block;
	}
}

.vertical {
	margin: 0;
	padding: 0;
	vertical-align: middle;

	li {
		list-style-type: none;
	}
}

.font-bold {
	font-family: sf-bold !important;
}

* {
	outline: 0 !important;
}

html {
	overflow-x: hidden;
}

body {
	background-color: #f7f7f7;
	overflow-x: hidden;
}

.ui-datepicker {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #f2f2f2;
	box-shadow: 0 0 23px -8px #8a8aa6;
	width: auto !important;
	margin-top: 13px;
	z-index: 100 !important;

	.ui-datepicker-title {
		font-family: sf-bold;
		font-size: 17px;
		color: #3d3b3b;
	}

	.ui-icon {
		background: 0 0;
		position: static !important;
		text-indent: 0;
		margin: 0 !important;
		padding: 0;
		height: auto;
		width: auto;
		display: inline-block !important;
	}

	td {
		a, span {
			height: 36px;
			width: 36px;
			border: 1px solid #e5e5e5;
			border-radius: 3px;
			text-align: center;
			line-height: 30px;
			margin: 1px;
			font-family: sf-regular;
			color: #696969;
			font-size: 14px;
		}

		a:hover {
			background-color: #e0252f;
			color: #fff;
		}
	}
}

.autocomplete-suggestions {
	overflow: auto !important;
	padding: 10px 0;
	width: 400px !important;
	margin-left: -60px;
	margin-top: 17px;
	box-shadow: 0 0 16px -5px #00006b;
	border: 1px solid #f2f2f2;
	border-radius: 3px;

	&:after {
		position: absolute;
		content: "\f0d8";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 22px;
		text-rendering: auto;
		top: -18px;
		left: 20px;
		color: #f2f2f2;
		z-index: 9;
	}

	.autocomplete-suggestion {
		height: 40px;
		font-family: sf-medium;
		font-size: 14px;
		color: #696969;
		line-height: 42px;
		padding: 0 20px;

		.shortName {
			width: 60px;
			height: 36px;
			font-family: sf-bold;
			font-size: 14px;
			color: #3d3b3b;
			display: inline-block;
			border: 1px solid #f2f2f2;
			text-align: center;
			line-height: 36px;
			background-color: #fff;
			margin-right: 20px;
			border-radius: 3px;
		}
	}
}

[type=checkbox] {
	&:checked, &:not(:checked) {
		position: absolute;
		left: -9999px;
	}

	&:checked + label, &:not(:checked) + label {
		position: relative;
		padding-left: 25px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
	}

	&:checked + label:before, &:not(:checked) + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 1px;
		width: 18px;
		height: 18px;
		border: 1px solid #ddd;
		background: #fff;
	}

	&:checked + label:after {
		content: '';
		width: 10px;
		height: 10px;
		background: #f9b641;
		position: absolute;
		top: 5px;
		left: 4px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}

	&:not(:checked) + label:after {
		content: '';
		width: 10px;
		height: 10px;
		background: #f9b641;
		position: absolute;
		top: 5px;
		left: 4px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	&:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

[type=radio] {
	&:checked, &:not(:checked) {
		position: absolute;
		left: -9999px;
	}

	&:checked + label, &:not(:checked) + label {
		position: relative;
		padding-left: 25px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
	}

	&:checked + label:before, &:not(:checked) + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 1px;
		width: 18px;
		height: 18px;
		border: 1px solid #ddd;
		background: #fff;
	}

	&:checked + label:after {
		content: '';
		width: 10px;
		height: 10px;
		background: #f9b641;
		position: absolute;
		top: 5px;
		left: 4px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}

	&:not(:checked) + label:after {
		content: '';
		width: 10px;
		height: 10px;
		background: #f9b641;
		position: absolute;
		top: 5px;
		left: 4px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	&:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@font-face {
	font-family: sf-black;
	src: url(../assets/fonts/sfdisplay-black-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-black-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-bold;
	src: url(../assets/fonts/sfdisplay-bold-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-bold-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-heavy;
	src: url(../assets/fonts/sfdisplay-heavy-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-heavy-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-light;
	src: url(../assets/fonts/sfdisplay-light-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-light-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-medium;
	src: url(../assets/fonts/sfdisplay-medium-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-medium-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-regular;
	src: url(../assets/fonts/sfdisplay-regular-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-regular-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-semibold;
	src: url(../assets/fonts/sfdisplay-semibold-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-semibold-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-thin;
	src: url(../assets/fonts/sfdisplay-thin-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-thin-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sf-ultralight;
	src: url(../assets/fonts/sfdisplay-ultralight-webfont.woff2) format("woff2"), url(../assets/fonts/sfdisplay-ultralight-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
