* {
    outline: none !important;
}

body {
    background-color: #f7f7f7;
}

body.activeMenu .mobileMenuContainer {
    right: 0;
}

body.activeMenu {
    overflow: hidden;
}

h2.withBorder {
    font-size: 34px;
    color: #3d3b3b;
    line-height: 38px;
    margin-bottom: 30px;
    border-bottom: 4px solid #e9edef;
    padding-bottom: 20px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 4px;
        width: 100px;
        background-color: $red;
    }
}

a, [popover], [tooltip] {
    cursor: pointer;
}

[popover]:hover {
    text-decoration: underline;
}

a, a:hover, a:visited, a:focus {
    outline: none;
    color: #2b6789;
}

*:focus {
    outline: 0 !important;
    text-decoration: none;
    box-shadow: none !important;
}

.ui-datepicker {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 23px -8px #8a8aa6;
    width: auto !important;
    margin-top: 13px;

    .ui-datepicker-group {
        padding: 15px;
    }

    .ui-datepicker-group-first {
        border-right: 2px solid #f2f2f2;
    }

    th {
        color: #696969;
        font-size: 14px;
        font-family: sf-bold;
    }

    .ui-datepicker-title {
        font-family: sf-bold;
        font-size: 17px;
        color: #3d3b3b;
    }

    .ui-icon {
        position: static !important;
        text-indent: 0;
        margin: 0 !important;
        padding: 0;
        height: auto;
        width: auto;
        display: inline-block !important;
    }

    .ui-corner-all {
        height: 40px;
        width: 40px;
        background-color: $red;
        color: #fff !important;
        border-radius: 3px;
        margin: 0 !important;
        padding: 0 !important;
        top: 0 !important;
        text-align: center;
        line-height: 33px;

        &.ui-datepicker-prev {
            left: 2px !important;
        }

        &.ui-datepicker-next {
            right: 2px !important;
        }
    }

    td a {
        height: 36px;
        width: 36px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        text-align: center;
        line-height: 30px;
        margin: 1px;
        font-family: sf-regular;
        color: #696969;
        font-size: 14px;

        &:hover {
            background-color: $red;
            color: #fff;
        }

        &.ui-state-active {
            background-color: $red;
            color: #fff;
        }

        &.ui-state-highlight {
            background-color: #9b9b9b;
            color: #fff;
        }
    }
}

.autocomplete-suggestions {
    width: 400px !important;
    margin-left: -60px;
    margin-top: 17px;
    box-shadow: 0 0 16px -5px #00006b;
    padding: 10px 0;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    overflow: visible !important;

    &:after {
        position: absolute;
        content: "\f0d8";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 22px;
        text-rendering: auto;
        top: -18px;
        left: 20px;
        color: #f2f2f2;
        z-index: 9;
    }

    .autocomplete-suggestion {
        height: 40px;
        font-family: sf-medium;
        font-size: 14px;
        color: #696969;
        line-height: 42px;
        padding: 0 20px;

        .shortName {
            width: 60px;
            height: 36px;
            font-family: sf-bold;
            font-size: 14px;
            color: #3d3b3b;
            display: inline-block;
            border: 1px solid #f2f2f2;
            text-align: center;
            line-height: 36px;
            background-color: #fff;
            margin-right: 20px;
            border-radius: 3px;
        }
    }
}

[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

[type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}

[type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #f9b641;
    position: absolute;
    top: 5px;
    left: 4px;
    @include transition(all 0.2s ease);
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    @include transform(scale(0));
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    @include transform(scale(1));
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@font-face {
    font-family: 'sf-black';
    src: url('/assets/fonts/sfdisplay-black-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-bold';
    src: url('/assets/fonts/sfdisplay-bold-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-heavy';
    src: url('/assets/fonts/sfdisplay-heavy-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-light';
    src: url('/assets/fonts/sfdisplay-light-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-medium';
    src: url('/assets/fonts/sfdisplay-medium-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-regular';
    src: url('/assets/fonts/sfdisplay-regular-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-semibold';
    src: url('/assets/fonts/sfdisplay-semibold-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-thin';
    src: url('/assets/fonts/sfdisplay-thin-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-ultralight';
    src: url('/assets/fonts/sfdisplay-ultralight-webfont.woff2') format('woff2'), url('/assets/fonts/sfdisplay-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .innerContent {
        .innerSearch {
            .findTicket {
                height: 30px;
                font-size: 10px;
                line-height: 20px !important;
            }

            .row > div {
                max-width: 159px;
                overflow: hidden;
            }
        }

        .searchResult .body {
            .tableCon .tableBody .flyItem .companyName {
                min-width: 170px;
            }

            .landingTimeContainer {
                min-width: 110px;
            }

            .timeContainer {
                max-width: 129px;
            }

            .landingTimeContainer {
                min-width: 110px;
            }
        }
    }

    body {
        overflow-x: hidden;
    }

    header .topHeader {
        .navbar-brand {
            width: 150px;

            img {
                width: 100%;
            }
        }

        .searchArea .form-control {
            width: 200px;
        }

        .topMenu a {
            text-align: center;
        }
    }

    .mainContent .offerArea ul li .offerContent {
        padding: 60px 0 20px 15px;

        .detailBtn {
            margin: 10px auto 0;
            max-width: 130px;
            width: 100%;
        }
    }

    .welcomeBottomArea > div {
        text-align: center;
        display: block;
        flex: none;
        width: 100%;
        margin: 5px 0;

        .horizontal li {
            float: none;
            display: inline-block;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width: 980px) {
    html body .innerContent .searchResult.searchResultM .body .tableCon div.tableBody div.flyItem .row > div.landingTimeContainer {
        min-width: auto !important;
        max-width: none !important;
    }
}

@media only screen and (max-width: 980px) {
    html body .innerContent .searchResult.searchResultM .body .tableCon .tableBody .flyItem .row > div {
        padding: 0 3px !important;
    }

    .bComplate {
        margin: 20px auto 20px;

        img {
            width: 100px;
        }

        .bTitle {
            font-size: 20px;
        }

        .bText {
            font-size: 16px;
        }
    }

    .mobileTitleH2 {
        font-family: sf-semibold;
        font-size: 24px;
        margin: 20px 0 10px 0;
        position: relative;

        &:before {
            content: " ";
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 3px;
            width: 20%;
            z-index: 5;
            background-color: #e0252f;
        }

        &:after {
            content: " ";
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 3px;
            width: 100%;
            z-index: 4;
            background-color: #e9edef;
        }
    }

    .buyingMobile {
        background: none !important;
        padding: 0 15px 15px 15px !important;
        margin: 0 !important;

        .infoBox {
            border-radius: 5px;
            padding: 10px 15px;
            background: #e9edef;
            margin: 25px 0 5px;
            font-family: sf-bold;
        }

        .infoBox2 {
            border-radius: 5px;
            background: #e9edef;
            margin: 25px 0 10px;

            > div {
                padding: 10px;
                font-family: sf-bold;
                font-size: 13px;
            }
        }

        .totalText {
            color: #e0252f !important;
            font-family: sf-bold !important;
            font-size: 15px !important;
            padding-top: 13px;
        }

        .totalNumber {
            color: #e0252f !important;
            font-family: sf-bold !important;
            font-size: 18px !important;
        }

        .contentBox {
            border-radius: 5px;
            background: #fff;
            margin: 0 0 5px;

            .col {
                padding: 10px;
                font-family: sf-regular;
                font-size: 14px;
            }
        }

        .box {
            background-color: #fff;
            border-radius: 5px;
            overflow: visible !important;
            border-color: transparent;
            padding: 15px;
        }

        .mobileBTable {
            font-family: sf-medium;
            padding: 20px 0;
            border-bottom: 2px solid #f2f2f2;
            margin-bottom: 25px;
        }

        .doubleText {
            .text1 {
                color: #696969;
                font-family: sf-semibold;
                font-size: 12px;
                display: block;
            }

            .text2 {
                color: #3d3b3b;
                font-family: sf-semibold;
            }
        }

        .time {
            display: inline-block;
            background-color: #f7f7f7;
            border-radius: 5px;
            padding: 8px 10px;
            font-family: sf-light;
            font-size: 22px;
            float: left;
            margin-right: 15px;
            margin-top: -3px;
            text-align: center;
            width: 75px;
        }

        .airport {
            font-size: 12px;
            line-height: 16px;
            display: block;
            min-width: 180px;
            margin-top: 5px;

            .t1 {
                color: #696969;
                font-size: 14px;
                font-family: sf-semibold;
            }

            .t2 {
                color: #3d3b3b;
                font-family: sf-semibold;
                font-size: 17px;
            }
        }

        .buyingFormMobile {
            img {
                margin: 10px auto 0;
                display: block;
            }

            span {
                display: block;
                font-family: sf-bold;
                color: #3d3b3b;
                margin-left: 10px;
                font-size: 15px;
            }

            input {
                width: 80%;
                border: none;
                outline: none;
                font-size: 18px;
                margin-left: 10px;
                padding: 0;

                &:disabled {
                    background-color: #f3f3f3;
                }
            }

            .disableNumberCheck {
                font-family: sf-semibold;
                font-size: 13px;
                color: #696969;
            }

            .genderBtn {
                padding: 5px 30px;
                border: 2px solid #e9edef;
                color: #696969;
                border-radius: 5px;
                display: inline-block;
                margin: 12px 5px 0;
                background: #fff;
                font-size: 13px;

                &:hover, &.selected {
                    background-color: #e0252f;
                    color: #fff;
                    border-color: #e0252f;
                    text-decoration: none;
                }
            }
        }

        .cardsList {
            background-color: #ebebeb;
            padding: 15px;
            border-radius: 5px;

            img {
                margin: 0;
            }
        }

        .cvcIcon {
            position: absolute;
            top: 22px;
            right: 15px;
            font-size: 30px;
        }

        .optionsSelect {
            background-color: #f9b641;
            line-height: 47px;
            text-align: center;
            font-family: sf-medium;
            display: block;
            font-size: 14px;
            color: #3d3b3b;

            &:hover {
                opacity: 0.8 !important;
                text-decoration: none;
            }
        }

        .paymentBtn {
            height: 60px;
            background-color: #5fb981;
            font-family: sf-bold;
            font-size: 17px;
            color: #fff;
            display: block;
            text-align: center;
            line-height: 60px;
            width: 100% !important;
            margin: 15px 0 0 0;

            &:hover {
                opacity: 0.8 !important;
                text-decoration: none;
            }
        }
    }

    .innerContent .innerSearch {
        .row > div {
            max-width: none;
        }

        .container {
            display: none;
        }
    }

    html body .innerContent .searchResult.searchResultM {
        .header {
            background-color: #f9b641;
            margin: -30px -15px 0;
            height: auto;
            padding: 15px;
            display: flex;
            flex-direction: row;

            > * {
                border-radius: 8px;
                flex: auto;
            }

            .title {
                background-color: white;
                color: #000;
                padding: 10px 20px;
                margin: 0 10px !important;
                order: 2;
                font-family: sf-medium;
                line-height: normal;
                font-size: 15px;
            }

            .text {
                background-color: #e0252f;
                padding: 10px 20px;
                line-height: normal;

                .fa {
                    display: none;
                }

                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 3;
                    text-align: right;
                }
            }
        }

        .body {
            background: none;
            padding: 15px;

            .tableCon {
                .tableHead {
                    background-color: #e9edef;

                    > div {
                        min-width: auto !important;
                        white-space: nowrap;
                        max-width: none;

                        &:first-child {
                            min-width: 130px !important;
                            max-width: 130px !important;
                            font-size: 13px;
                        }
                    }
                }

                .tableBody .flyItem {
                    background-color: #fff;
                    border-radius: 5px;
                    overflow: visible !important;
                    border-color: transparent;

                    .connectedText {
                        right: -1px;
                        left: auto;
                        background-color: #f9b641;
                        display: block;
                        color: #3d3b3b;
                        font-size: 12px;
                        top: -1px;
                        border-top-right-radius: 6px;
                    }

                    :after {
                        display: none !important;
                    }

                    .fa.fa-long-arrow-right {
                        color: #e0252f;
                        margin: 0 3px;
                    }

                    .seatCount {
                        display: block;
                    }

                    .time {
                        margin-top: -5px;
                        display: block;
                        text-align: left !important;
                    }

                    span {
                        display: inline-block;
                    }

                    .row {
                        &:nth-child(2) {
                            padding-top: 10px;
                            margin-top: 10px;
                            position: relative;

                            &:before {
                                content: " ";
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 1px;
                                background-color: #eee;
                                width: 55%;
                            }
                        }

                        > {
                            div {
                                max-width: none !important;
                                min-width: auto !important;
                                width: auto;

                                &.landingTimeContainer {
                                    min-width: 100px !important;
                                    max-width: 100px !important;
                                }
                            }

                            .companyName {
                                min-width: 120px !important;
                                max-width: 120px !important;
                                font-size: 15px;
                                line-height: 17px;

                                .airportShort {
                                    font-size: 12px;
                                    color: #696969;
                                    display: block;
                                    font-family: sf-semibold;
                                }

                                .detailText {
                                    color: #e0252f;
                                    font-size: 13px;
                                    font-family: sf-semibold;

                                    i {
                                        background-color: red;
                                        display: inline-block;
                                        color: #fff;
                                        height: 13px;
                                        width: 13px;
                                        text-align: center;
                                        line-height: 15px;
                                        border-radius: 100%;
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }

                    .hour, .price {
                        font-size: 18px;
                        font-family: sf-semibold;
                    }

                    .align-self-center {
                        white-space: nowrap;
                        text-align: left !important;
                    }

                    .chooseBtn {
                        height: 33px;
                        border-radius: 5px;
                        background-color: #e0252f;
                        width: auto;
                        padding: 0 10px;
                        float: right;
                        font-size: 12px;

                        i {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .mobileTopMenu {
        display: block !important;
    }

    .ticketFilterArea .icon-change {
        top: 55px;
        transform: rotate(90deg);
    }

    .subscribe {
        .text {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 30px;
        }

        .searchBottomArea .btn {
            top: 2px;
        }
    }

    .hMobile {
        display: none;
    }

    .sMobile {
        display: block;

        .offerArea .bx-wrapper {
            max-width: 100% !important;
        }
    }

    .mainContent {
        padding-top: 40px;
    }

    .bannerArow {
        display: none !important;
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .innerContent .container {
        padding-left: 0;
        padding-right: 0;
    }

    .searchResult {
        padding: 0 5px;
    }

    header {
        background: #ffffff;

        .topHeader {
            background: #ffffff;
            border-bottom: 2px solid #e0252f;

            + .bg-white {
                display: none;
            }
        }
    }

    .banner {
        background: #f8b541 !important;
        height: auto !important;
        padding: 20px 20px 30px 20px;

        .container {
            padding: 0;
        }

        .ticketBg {
            float: none !important;
            width: 100% !important;
            height: auto;
            margin: 0 auto !important;
            max-width: 100% !important;
            padding: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            .ticketBgTop {
                display: none;
            }

            .ticketBgbottom {
                background-image: url(/assets/images/mainTicketBgMobile.png);
                transform: none;
                background-position: top center;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            .flyType {
                position: relative;
                top: -2px;

                li {
                    width: 50%;
                    margin: 0;
                    padding: 20px 20px;
                    text-align: center;
                    border: none;
                    background-color: #f3f3f3;
                    color: #3d3b3b;
                    transition: all 0.5s ease;
                    font-size: 18px;
                    line-height: 22px;

                    &:first-child {
                        border-top-left-radius: 8px;
                    }

                    &:last-child {
                        border-top-right-radius: 8px;
                    }

                    &.active {
                        background-color: #e0252f;
                        color: #fff;
                    }
                }
            }

            .row {
                margin: 0;

                .mobileFull {
                    width: 100%;
                    flex: none;
                }

                .col {
                    padding: 0;

                    .searchInput {
                        background-color: #fff;
                        border-radius: 0;
                        height: 70px;
                        padding: 17px 20px 0;
                        margin: 0;

                        .title {
                            font-size: 18px;
                        }

                        .icon {
                            margin: 1px 20px 4px 0;
                        }

                        .input {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    footer {
        background: white;

        .footerMenu > div {
            p.title {
                background-color: #f7f7f7;
                font-size: 24px;
                border-radius: 10px;
                padding: 20px 30px;
                margin-bottom: 10px;
                cursor: pointer;

                &:before {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    content: "\f0da";
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    color: #e0252f;
                    margin-top: -11px;
                }

                &.active:after {
                    content: "\f107";
                    background-color: #e0252f;
                    color: #fff;
                }

                &:after {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    content: "\f105";
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    color: #e0252f;
                    margin-top: -20px;
                    background: none;
                    height: 40px;
                    background: #ffffff;
                    width: 40px;
                    left: auto;
                    right: 19px;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 40px;
                    box-shadow: 0 0 12px 3px #eee;
                }
            }

            ul {
                li a:after {
                    color: #3d3b3b;
                }

                margin-left: 15px;
                margin-bottom: 20px;
                display: none;
            }
        }
    }

    .copyright, .footerNumberHide {
        display: none !important;
    }
}

@media only screen and (max-width: 626px) {
    .innerContent .innerSearch .searchInput {
        overflow: hidden;

        .input {
            width: 100px;
        }
    }

    .autocomplete-suggestions {
        left: 0 !important;
        width: 100% !important;
        margin: 0 !important;
    }

    .buyingMobile .optionsSelect {
        line-height: normal !important;
    }

    html body .innerContent .searchResult.searchResultM .body .tableCon .tableBody .flyItem {
        .row > div.companyName {
            min-width: 100px !important;
            max-width: 100px !important;
            font-size: 12px;
            line-height: 17px;
        }

        .price {
            font-size: 12px;
        }

        .hour {
            font-size: 12px;
            font-family: sf-semibold;
        }

        .seatCount {
            font-size: 11px;
        }
    }

    .callUs {
        i.icon-m {
            margin-right: 10px;
        }

        padding: 20px 30px;

        div {
            vertical-align: text-bottom;

            .title {
                font-size: 16px;
                line-height: 16px;
            }

            .text {
                font-size: 20px;
            }
        }

        a {
            margin-top: 0;
        }
    }

    .welcomeIcons .col {
        width: 100% !important;
        display: block !important;
        flex: none;

        div {
            height: auto !important;
        }
    }

    div.flyItem {
        .detailRow .drowBottom {
            i {
                font-size: 9px !important;
                height: 15px !important;
                width: 15px !important;
                line-height: 17px !important;
            }

            span {
                font-family: sf-medium !important;
                width: 80% !important;
                vertical-align: middle !important;
                font-size: 12px !important;
            }
        }
    }
}