@mixin theloop($stylename, $tagname, $i) {
    @while $i <= 200 {
        .#{$stylename}-#{$i} {
            #{$tagname}: #{$i}px !important;
        }

        $i: $i + 1;
    }
}

@mixin background-image($image-path, $name, $fallback-extension, $size, $retina_img: false, $dark: false) {
    background-image: url("#{$image-path}/#{$name}.#{$fallback-extension}");

    @if $dark == true {
        .dark & {
            background-image: url("#{$image-path}/#{$name}-dark.#{$fallback-extension}");
        }
    }

    @media #{$retina} {
        @if $retina_img == true {
            background-image: url("#{$image-path}/#{$name}@2x.#{$fallback-extension}");

            @if ($size) != false {
                background-size: $size;
            }
        }

        @if ($retina_img and $dark) == true {
            .dark & {
                background-image: url("#{$image-path}/#{$name}-dark@2x.#{$fallback-extension}");

                @if $size == true {
                    background-size: $size;
                }
            }
        }
    }
}
