$body-bg: white;
$orange: #f9b641;
$red: #e0252f;
$darkGrey: #3d3b3b;
$lightGrey: #f5f5f5;
$preloader-image-path: "/images";
$preloader-image: "preloader";
$preloader-fallback-extension: "gif";
$form-processor-bg: rgba($body-bg,0.7);
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";
