.contentArea {
    padding: 30px;

    h3 {
        font-family: sf-medium;
        color: #3d3b3b;
        font-size: 26px;
    }

    p {
        font-family: sf-regular;
        color: #6c6b6b;
        font-size: 17px;
        line-height: 28px;
    }
}

.contact {
    .social a {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .cRow {
        span {
            font-family: sf-medium;
            font-size: 28px;
            color: #3d3b3b;
        }

        i {
            margin-right: 10px;
        }
    }

    .detailTable tr td {
        padding: 20px 0;
    }

    input[type="text"], select {
        border: 1px solid #ededed;
        height: 60px;
        padding: 0 25px;
        width: 100%;
    }

    textarea {
        border: 1px solid #ededed;
        padding: 15px 25px;
        width: 100%;
    }

    .formTable td {
        border: none;
    }

    .sendBtn {
        height: 60px;
        background-color: #e0252f;
        font-family: sf-bold;
        font-size: 17px;
        color: #fff;
        max-width: 280px;
        float: right;
        display: block;
        text-align: center;
        line-height: 60px;
        border: none;
        width: 100%;

        &:hover {
            opacity: .7;
        }
    }
}
