    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.0.0/css/intlTelInput.css" integrity="sha384-9KPPcayV8JI+A4x2K3zcgr0B/tbGxIOidFfVj83E8F3yMY0uRVEnoGcVVJQ2GT8k" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/card.css" />
    <style>
        .paymentOptionTable tbody td {
            padding: 20px;
            min-width: 190px;
        }

        .paymentOptionTable tbody > tr:hover {
            cursor: pointer;
            background: #dedede;
        }

        .paymentOptionTable tbody > tr.selected {
            background: #dedede;
        }

        .mobilePersonInfo {
        }

            .mobilePersonInfo > div {
                padding:5px;
            }

                .mobilePersonInfo > div span {
                    margin: 0;
                }

                .mobilePersonInfo > div div {
                }

        .passengerInfoDetail {
        }

            .passengerInfoDetail tr {
            }

                .passengerInfoDetail tr td {
                    text-align: left !important;
                }

                    .passengerInfoDetail tr td:not(:last-child):before {
                        content: " ";
                        display: block;
                        height: 40px;
                        width: 1px;
                        background-color: #ededed;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -20px;
                    }
    </style>
}
<div class="innerContent">
    <section>
        <div class="container bg-white buyingPage">
            <div class="bComplate">
                <img class="center-block" src="/media/1002/bcomplate.png">
                <p class="bTitle">Satın Alma İşleminiz Başarıyla Gerçekleştirilmiştir.</p>
                <p class="bText">Aşağıda yer alan uçuş bilgileri satın almış olduğunuz bilete aittir. Aynı bilgiler girmiş olduğunuz e-posta adresinize ve telefon numaranıza da gönderilmiştir.</p>
            </div>
            <section class="hMobile" v-if="!mobile">
                <hr class="m-b-50" />
                <h2 class="title"><i class="icon icon-plane3"></i>UÇUŞ BİLGİLERİ</h2>
                <table class="customTable">
                    <thead>
                        <tr>
                            <th class="text-nowrap">GİDİŞ - {{flightData.FlightDateTime | titleDateFormat}}</th>
                            <th>KALKIŞ</th>
                            <th>VARIŞ</th>
                            <th>UÇUŞ NO</th>
                            <th>SINIF</th>
                            <th>BAGAJ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fdata in flightData.FlightList">
                            <td class="company">
                                <!--<img src="/assets/images/companies/pegasusIcon.png" alt="pegasusIcon">-->
                                {{flightData.AirWay}}
                            </td>
                            <td><span class="time">{{fdata.DepartureTime}}</span> <span class="airport">{{fdata.DepartureCity}} ({{fdata.Departure}})</span></td>
                            <td><span class="time">{{fdata.ArrivalTime}}</span> <span class="airport">{{fdata.ArrivalCity}} ({{fdata.Arrival}})</span></td>
                            <td>{{fdata.FlightNo}}</td>
                            <td>{{fdata.FlightClass}}</td>
                            <td>{{fdata.BagInfo}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="customTable" v-if="returnFlightData">
                    <thead>
                        <tr>
                            <th class="text-nowrap">DÖNÜŞ - {{returnFlightData.FlightDateTime | titleDateFormat}}</th>
                            <th>KALKIŞ</th>
                            <th>VARIŞ</th>
                            <th>UÇUŞ NO</th>
                            <th>SINIF</th>
                            <th>BAGAJ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fdata in returnFlightData.FlightList">
                            <td class="company">
                                {{returnFlightData.AirWay}}
                            </td>
                            <td><span class="time">{{fdata.DepartureTime}}</span> <span class="airport">{{fdata.DepartureCity}} ({{fdata.Departure}})</span></td>
                            <td><span class="time">{{fdata.ArrivalTime}}</span> <span class="airport">{{fdata.ArrivalCity}} ({{fdata.Arrival}})</span></td>
                            <td>{{fdata.FlightNo}}</td>
                            <td>{{fdata.FlightClass}}</td>
                            <td>{{fdata.BagInfo}}</td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="title m-t-50"><i class="icon icon-man2 align-text-top"></i>YOLCU BİLGİLERİ</h2>
                <div v-for="(n,index) in passList" class="m-b-20">
                    <table class="customTable">
                        <thead>
                            <tr>
                                <th>
                                    {{index+1}}. YOLCU BİLGİLERİ
                                    <input type="hidden" autocomplete="off" required="required" name="PassengerType" :value="n[1]" />
                                </th>
                            </tr>
                        </thead>
                    </table>

                    <table class="passengerInfo customTable passengerInfoDetail">
                        <tbody>
                            <tr>
                                <td>
                                    <span>ADI</span>
                                    <div>{{n.Name}}</div>
                                </td>
                                <td>
                                    <span>SOYADI</span>
                                    <div>{{n.SurName}}</div>
                                </td>
                                <td>
                                    <span>TC KİMLİK NO</span>
                                    <div>{{n.CitizenNumber}}</div>
                                </td>
                                <td>
                                    <span>DOĞUM TARİHİ</span>
                                    <div>{{n.BirthDate}}</div>
                                </td>
                                <td>
                                    <span>CİNSİYET</span>
                                    <div>{{n.GenderType==0 ? 'Erkek' : 'Kadın' }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="title m-t-50"><i class="icon icon-price"></i>FİYAT BİLGİLERİ</h2>
                <table class="customTable">
                    <thead>
                        <tr>
                            <th class="text-left">YOLCU</th>
                            <th class="text-left">FİYAT</th>
                            <th class="text-left">VERGİ</th>
                            <th class="text-left">HİZMET BEDELİ</th>
                            <th class="text-left">TOPLAM</th>
                        </tr>
                    </thead>
                    <tbody class="withTfoot">
                        <tr v-for="person in fareList.FareList">
                            <td class="text-left percent35">{{person.PassengerCount}} {{person.PassengerType}}</td>
                            <td class="text-left">{{person.BasePrice}} {{person.Currency}}</td>
                            <td class="text-left">{{person.Tax}} {{person.Currency}}</td>
                            <td class="text-left">{{person.ServicesPrice}} {{person.Currency}}</td>
                            <td class="text-left total">{{person.TotalPrice}} {{person.Currency}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right no-padding">TOPLAM FİYAT: </th>
                            <th class="text-left total">{{totalPriceV}} {{flightData.Currency}}</th>
                        </tr>
                    </tfoot>
                </table>

            </section>
        </div>

        <section class="sMobile" v-if="mobile">
            <div class="container bg-white buyingPage buyingMobile">

                <h2 class="mobileTitleH2">Uçuş Bilgileri</h2>
                <div class="infoBox">GİDİŞ - {{flightData.FlightDateTime | titleDateFormat}}</div>
                <div class="box">
                    <div v-for="fdata in flightData.FlightList">
                        <div class="row mobileBTable">
                            <div class="col-4">{{flightData.AirWay}}</div>
                            <div class="col doubleText">
                                <span class="text1">UÇUŞ NO:</span>
                                <span class="text2">
                                    {{fdata.FlightNo}}
                                </span>
                            </div>
                            <div class="col doubleText">
                                <span class="text1">SINIF:</span>
                                <span class="text2">{{fdata.FlightClass}}</span>
                            </div>
                            <div class="col doubleText">
                                <span class="text1">BAGAJ:</span>
                                <span class="text2">{{fdata.BagInfo}}</span>
                            </div>
                        </div>
                        <div class="customTable">
                            <span class="time">{{fdata.DepartureTime}}</span>
                            <span class="airport">
                                <span class="t1">KALKIŞ</span><br />
                                <span class="t2">{{fdata.DepartureCity}} - {{fdata.Departure}}</span>
                            </span>
                            <div class="clear m-t-10"></div>
                            <span class="time">{{fdata.ArrivalTime}}</span>
                            <span class="airport">
                                <span class="t1">KALKIŞ</span><br />
                                <span class="t2">{{fdata.ArrivalCity}} - {{fdata.Arrival}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div v-if="returnFlightData">
                    <div class="infoBox">DÖNÜŞ - {{returnFlightData.FlightDateTime | titleDateFormat}}</div>
                    <div class="box">
                        <div v-for="fdata in returnFlightData.FlightList">
                            <div class="row mobileBTable">
                                <div class="col-4">{{returnFlightData.AirWay}}</div>
                                <div class="col doubleText">
                                    <span class="text1">UÇUŞ NO:</span>
                                    <span class="text2">
                                        {{fdata.FlightNo}}
                                    </span>
                                </div>
                                <div class="col doubleText">
                                    <span class="text1">SINIF:</span>
                                    <span class="text2">{{fdata.FlightClass}}</span>
                                </div>
                                <div class="col doubleText">
                                    <span class="text1">BAGAJ:</span>
                                    <span class="text2">{{fdata.BagInfo}}</span>
                                </div>
                            </div>
                            <div class="customTable">
                                <span class="time">{{fdata.DepartureTime}}</span>
                                <span class="airport">
                                    <span class="t1">KALKIŞ</span><br />
                                    <span class="t2">{{fdata.DepartureCity}} - {{fdata.Departure}}</span>
                                </span>
                                <div class="clear m-t-10"></div>
                                <span class="time">{{fdata.ArrivalTime}}</span>
                                <span class="airport">
                                    <span class="t1">KALKIŞ</span><br />
                                    <span class="t2">{{fdata.ArrivalCity}} - {{fdata.Arrival}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>




                <h2 class="mobileTitleH2">Yolcu Bilgileri</h2>

                <div v-for="(n,index) in passList" class="m-b-20">
                    <div class="customTable infoBox2">
                        <div class="col">
                            {{index+1}}. YOLCU BİLGİLERİ
                            <input type="hidden" autocomplete="off" required="required" name="PassengerType" :value="n[1]" />
                        </div>
                    </div>

                    <div class="row contentBox passengerInfo passengerInfoDetail mobilePersonInfo">
                        <div class="col-4 col-sm-3">
                            <span>ADI</span>
                            <div style="font-family: sf-medium;">{{n.Name}}</div>
                        </div>
                        <div class="col-4 col-sm">
                            <span>SOYADI</span>
                            <div style="font-family: sf-medium;">{{n.SurName}}</div>
                        </div>
                        <div class="col-4 col-sm">
                            <span>TC KİMLİK NO</span>
                            <div style="font-family: sf-medium;">{{n.CitizenNumber}}</div>
                        </div>
                        <div class="col-4 col-sm">
                            <span>DOĞUM TARİHİ</span>
                            <div style="font-family: sf-medium;">{{n.BirthDate}}</div>
                        </div>
                        <div class="col-4 col-sm">
                            <span>CİNSİYET</span>
                            <div style="font-family: sf-medium;">{{n.GenderType==0 ? 'Erkek' : 'Kadın' }}</div>
                        </div>
                    </div>
                </div>


                <h2 class="mobileTitleH2">Fiyat Bilgileri</h2>
                <div class="row infoBox2">
                    <div class="col">YOLCU</div>
                    <div class="col">FİYAT</div>
                    <div class="col">VERGİ</div>
                    <div class="col">H.BEDELİ</div>
                    <div class="col">TOPLAM</div>
                </div>
                <div class="row contentBox" v-for="person in fareList.FareList">
                    <div class="col">{{person.PassengerCount}} {{person.PassengerType}}</div>
                    <div class="col">{{person.BasePrice}} {{person.Currency}}</div>
                    <div class="col">{{person.Tax}} {{person.Currency}}</div>
                    <div class="col">{{person.ServicesPrice}} {{person.Currency}}</div>
                    <div class="col">{{person.TotalPrice}} {{person.Currency}}</div>

                </div>
                <div class="clearfix infoBox2 m-t-10">
                    <div class="pull-left totalText">TOPLAM FİYAT</div>
                    <div class="pull-right totalNumber">{{totalPriceV}} TRY</div>
                </div>
            </div>
        </section>


    </section>
</div>

    <script src="/assets/js/utils.js"></script>
    <script>
        var vue = new Vue({
            el: '#ticketVue',
           created() {
                this.getFlyInfo();

            },
            mounted: function () {
                var that = this;
                $(window).on('resize', function () {
                    that.isMobile();
                });
                var w = document.documentElement.clientWidth;
                if (w < 800)
                    this.mobile = true;
            },
            data:{
                isLoading:true,
                flightData:[],
                fareList:[],
                returnFlightData:[],
                banks:[],
                selectedBank:[],
                bankId:"",
                bankInstallmentId:"",
                pasInfo:[],
                totalPriceV:0,
                passList:[],
                mobile: false,
            },
            methods: {
                isMobile: function () {
                    var w = document.documentElement.clientWidth;
                    var h = document.documentElement.clientHeight;
                    if (w < 800)
                        this.mobile = true
                    else
                        this.mobile = false

                },
                totalPriceM:function(){
                   var that = this;
                    var total = 0;
                    that.fareList.FareList.forEach(function (val) {
                        total += val.TotalPrice * val.PassengerCount;
                    });
                    that.totalPriceV = total.toFixed(2);
                }
            }
        });
    </script>
